header{
	max-width: none;
	background: #961432;
    font-family: 'expressway';
    border: none;
    position: relative;
	padding: 5px;
    margin-bottom: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
      position: relative;
	font-family: "Arial";
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}